PORT=
MONGO_URI=
MONGO_CONNECT_TIMEOUT_MS=10000
JWT_SECRET=
JWT_REFRESH_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
UPI_ID=
UPI_PAYEE_NAME=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_ID_ANDROID=
GOOGLE_CLIENT_ID_IOS=
SUPERADMIN_EMAIL=
SUPERADMIN_PASSWORD=
DEFAULT_TENANT_ADMIN_EMAIL=
